header {
  height: 60px;
  width: 100%;
  display: flex;
  padding: 0 16px;
  position: fixed;
  top: 0;
  background: linear-gradient(to right, var(--primary), var(--secondary));
}

main {
  max-width: 800px;
  margin: 80px auto 0 auto;
  padding: 0 16px;
}
